.body{
    margin: 0;
    padding: 0;

}
.main{
   
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
}
.nav1{
    width:100%;
    height:62px;
    background-color: #000000;
   
    display:flex;
    /* justify-content: center;
    align-items: center; */
    border-bottom: 5px sloid grey(94, 92, 92);
    
}
.menu{
    /* background-color: red; */
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.menu .bar{
   
    border-radius: 5px;
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7c7c7c;
}
.icon{
    
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon img{
    width:35px;
    height:35px;
    background-color: white;
    border-radius:50%;
     padding: 2px;
} 
.dash{
    
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dash p{
    font-size: 19px;
    font-weight: bold;
    color:white;
       
    font-family: 'Kanit', sans-serif;

}
.blank{
   
    flex:10;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 

 
  flex:4;/* Adjust as needed */
}

.search-input { 
    width:200px;
  color: #ffffff; /* White text */
  font-size: 14px;
  height:35px;
  padding: 0;
  border:2px solid gray;
   border-radius: 12px;
  outline: none;
    background: none; /* Remove outline on focus */
}

.search-input::placeholder {
  color: #aaaaaa;
/* Placeholder text color */
 
}
.search-icon {
  color: #aaaaaa; /* Icon color */
  margin-right:30px;
  position: relative; /* Space between icon and input */
  font-size: 25px;
 
}
.c{
    
   
}
.c .c1{
    
    height:10px;
    
}
.copilot{
    
    flex:1;
     display: flex;
     
     padding: 5px;
    
    justify-content: center;
    align-items: center;
    border-right: 2px solid grey;

    
}
.new{
    
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.n{
      display: flex;
    justify-content: center;
    align-items: center;
    padding:4px;
    border-radius: 13px;
    border: 2px solid grey;

}
.n1{
     flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.n2{
    flex:1;
    color:rgb(107, 107, 107);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px;
    border-radius: 13px;
   
    border:2px solid grey;
}
.c1{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid grey;

    
}
.c1 img{
    color:grey;
    width:25px;
    height:25px;
    padding:3px;
}
.c2{
    flex:1;
    color:grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.issue{
   
    flex:1;
}
.pull{
    
    flex:1;

}
.notification{
   
    flex:1;
}
.profile{
    
    flex:1;
}



.main2{
    background-color:rgba(10, 10, 10, 0.04);
    width:100%;
    height:auto;
    display: flex;
    color: rgb(255, 255, 255);
    border-top: 1px solid grey;
    
}
.head1{
    /* background-color: coral; */
    padding:25px;
    display: flex;
     flex:1;
     background-color: black;
    

}

.list1{
    width:100%;
    height:100vh;
    margin:0 auto;
     display: flex;
    flex-direction: column;
    padding:10px;
    
    background-color: #000000;
    border-radius: 12px;
    border:1px solid rgb(89, 89, 89);

}


.i{
    display: flex;
}
.i .i1{
    /* background-color: red; */
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex:1
}
.i1 p{
    text-transform: capitalize;
   
    font-weight: bold;
}
.i .i2{
    flex:1;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.i3 input{
    width:100%;
    height:50px;
    border-radius: 10px;
    

}
.i3{
    padding: 5px;
}
.i4{
    background-color: #000000;
    width:100%;
    height:300px;
    padding:5px;
    color:white;
}
.g
{
    display: grid;
    gap:5px;
    background-color: #000000;
  
    
    grid-template-columns: 40px 290px;
    grid-template-rows: 40px 40px  40px  40px;

}
.p1 img{
    width:4opx;
    height: 40px;
    border-radius: 50px;
}
.p1{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    
}
.c1{
   
    display: flex;
    justify-content: flex-start;
    padding: 9px;
    font-weight: 600;
    font-size: 16px;
    background-color: #000000;
}
.head2 h1{
    margin-left:20px;
    color:white
}
.head2{
    flex:3;
    background-color: rgb(0, 0, 0);
    
    display:flex;
    width:100%;
    flex-direction: column;
}
.h1{
    
    height:50px;
    padding-left:7px;

    display: flex;
    align-items: center;
}
.h2 {
    padding: 20px;
    
    background-color: rgb(0, 0, 0);
}
.h2 input {
    width:660px;
    height:40px;
    border-radius: 20px;
    position: absolute; 
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2 .sent {
    position: relative; 
   margin-left:95%;
   margin-top: 10px;
  

}
.main4{
     margin:0 auto;
    width:90%;
    height: auto;
    padding-top: 20px;
   
   
}
.h3{
    display:flex;
    width:90%;
    height:40px;
    justify-content: space-around;
    padding: 5px;
    gap:5px
}
.x1{
    flex:3;
    
    display: flex;
     border:1px solid rgb(92, 89, 89);
     border-radius: 15px;
 
   

}
.y1 p{
    text-align: center;
    border-radius: 20px;
    border:1px solid rgb(119, 117, 117);
    font-size: 18px;
    
       
    
}
.rocket{
    color: rgb(14, 4, 196);
    
    
  
    
}
.x2{
    flex:3;
    /* background-color: burlywood; */
    
    display: flex;
     border:1px solid rgb(96, 95, 95);
     border-radius: 15px;

   

  
}
.z1{
    flex:4;
 
     display: flex;
    justify-content: flex-start;
    align-items: center;
}
.y1{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.y2 p{
    text-align: center;
    border-radius: 20px;
    border:1px solid rgb(93, 90, 90);
    font-size: 18px;
    
       
    
}
.eye{
    color: blue;
}

.z2{
    flex:4;
    
     display: flex;
    justify-content: flex-start;
    align-items: center;
}
.y2{
    flex:1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.x3{
    flex:2.5;
    
    display: flex;
     border:1px solid rgb(94, 93, 93);
     border-radius: 15px;
}
.y3{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.z3{
    flex:4;
    
     display: flex;
    justify-content: flex-start;
    align-items: center;
}
.y3 p{
    text-align: center;
    border-radius: 20px;
    border:1px solid rgb(112, 112, 112);
    font-size: 18px;
    
       
    
}
.h4{
    padding-top: 10px;
    display: flex;
    width: 100%;
    height:40px;

}
.f1{
    flex:10;
    /* background-color: #ff0000; */
     display: flex;
     align-items: center;
     font-size: 20px;
     text-transform: capitalize;
     padding-left: 5px;
     color:#ffffff
    
   
}

.f2{
    flex:1;
    
     display: flex;
     padding:2px;
     border:1px solid rgb(101, 98, 98);
     border-radius: 13px;
      gap:4px;

    
}
.t1{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.t2{
    flex:1;
     display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
   
}
.h5{
    width:100%;
    height:350px;
    background-color: #000000;
    display:flex;
    padding: 10px;
    
}
.box{
   
   width: 95%;
    margin:0 auto;
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    border-radius: 12px;
    border:1px solid rgb(76, 75, 75)
}
.box1{
    flex:1;
      
    display: flex;
    flex-direction: column;
    
}
.g1,.g2,.g3{
    flex:1;
    
}
.g1,.g3{
   
}
.box2{
    flex:1;
    border-top: 1px solid grey;
    
}
.g1,.g2,.g3{
    display: flex;
    

}
.q1{
    
    flex:3;
    display: flex;

    
   
    
}
.k1{
    flex:1;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}
.k2{
 /* background-color: #000000; */
    flex:5;
     display: flex;
    align-items: center;
    justify-content: flex-start;
    color:gray;
    font-size:16px;
    font-weight: 600;
    padding-left: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.k3{
    flex:6;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:gray;
    font-size:16px;
   
}
.k3 a,.s2 a{
     text-decoration: none;
}
.k5{
    flex:6;

     display: flex;
    align-items: center;
    justify-content: flex-end;
}
.q2{
    flex:1;
    display: flex;

}
.s1{
    flex:1;
    /* background-color: aqua; */
     display: flex;
  
    justify-content: flex-start;
    padding-left: 10px;
}
.s2{
    flex:12;
    /* background-color: bisque; */
     display: flex;
    
    justify-content: flex-start;
    color:gray;
    font-size:16px;
    font-weight: 600;
    padding-left: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.s3{
    flex:2;
    background-color: rgb(180, 180, 180);
    display: flex;
    border-radius: 18px;
    height: 30px;
    border:1px solid black;
    
}
.s4{
    flex:1;
    
     display: flex;
    align-items: center;
    justify-content: center;

}
.s5{
    flex:1;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.s6{
    flex:1;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(49, 50, 49);

}
.g3{
    flex:1;
    background-color: #000000;
}
.q3{
    display:flex;
  
    color:#303030;
    font-size: 16px;
    padding-left: 9px;

}
.g4{
    flex:1;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.d1{
    width:100px;
    background-color: black;
    display: flex;
    }
.d2{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: rgb(56, 14, 182);
    


}
.d3{
    padding-left:5px;
}
.d3 a,.d6 a{
    text-decoration: none;

}
.d4{
    width: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.d5{
    width:20px
}
   
.d6{
    padding-left:9px;
    padding-top:3px;

}
.head3{
    padding-top: 0px;
    flex:1;
    display: flex;
    margin:0 auto;
      padding:20px;
      background-color: #000000;
   
}
.bbbox{
    display: flex;
    width:100%;
    flex-direction: column;
    gap:10px;
    
}
.bbox1{
  width:100%;
    background-color: black;
    height:500px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    border:2px solid grey;
  
}
.bb1{
    width:100%;
    height:200px;
    
}
.bb1 img{
    width:100%;
    height:200px;
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bb2{
    width:100%;
    height:50px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
}
.bb3{
    width:100%;
    height:150px;
    background-color: blue;
    display: flex;
    align-items: center;


 border-top: 1px solid grey;
   
    

}
.bb3 h1{
    margin-left:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}
.bb4{
    display: flex;
    justify-content: center;
padding-left: 40px;
padding-right: 40px;
    align-items: center;
    padding-top:20px;
    border-top: 1px solid grey;

}
.bb5{
    background-color: green;
    width:100%;
    height:60px;
    border-radius: 12px;
    border: 1px solid grey;
}
.bb5 p{
    padding-left:5px;
    padding-top:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bbox2{
    width:100%;
    background-color: brown;
    border-radius: 12px;
    height:400px;
}

